<!-- Contenido de productoDetalles.ejs 
<div>
    <h2><%= producto.nombre %></h2>
    <p><%= producto.descripcion %></p>
    <p>Precio: <%= producto.precio %></p>
    <img src="<%= producto.imagenUrl %>" alt="<%= producto.nombre %>">
</div>-->
