<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bebidas - Ineffabile Pizza</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="/css/bebidas.css">
  <!-- Agregar cualquier otra hoja de estilos necesaria -->
</head>

<body>

  <!-- Incluir el navbar -->
  <%- include('./partials/navbar.ejs') %>

  <!-- Contenido de la página -->
<div class="container fadeIn">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item"><a href="/productos">Categorias</a></li>
      <li class="breadcrumb-item active" aria-current="page">Bebidas</li>
    </ol>
  </nav>
  <br>
  <br>
  <h1 class="text-center mb-4"><u>Nuestras Bebidas</u></h2>
    <br>
    <br>
  <div class="row">
    <div class="row">
      <% bebidas.forEach(function(bebida, index) { %>
      <div class="col-md-3">
        <div class="product">
          <img src="/images/bebidas/<%= bebida.imagen1 %>" alt="<%= bebida.nombre %>">
          <div class="product-title"><%= bebida.nombre %></div>
          <div class="price">
            <span class="normal-price"><%= bebida.precio_pvp %>€</span>
          </div>
          <div class="btn-container">
            <a href="#" class="btn btn-details" data-toggle="modal" data-target="#bebidaDetailsModal" data-id="<%= bebida._id %>"><i class="far fa-eye"></i></a>
            <a href="#" class="btn btn-add-to-cart"><i class="fas fa-shopping-cart"></i></a>
          </div>
        </div>
      </div>
      <% }); %>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="bebidaDetailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="bebidaModalTitle">Detalles de la Bebida</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <img src="" alt="" id="modal-img1" class="img-fluid mb-3">
          </div>
          <div class="col-md-6">
            <img src="" alt="" id="modal-img2" class="img-fluid mb-3">
          </div>
        </div>
        <img src="" alt="" id="modal-img3" class="img-fluid mb-3">
        <h4 class="modal-bebida-title"></h4>
        <p class="modal-bebida-description"></p>
        <p class="modal-bebida-price"></p>
        <div class="form-group">
          <label for="quantity">Cantidad:</label>
          <input type="number" class="form-control" id="quantity" value="1">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" id="add-to-cart-modal">Agregar al carrito</button>
      </div>
    </div>
  </div>
</div>

  <!-- Incluir el footer -->
  <%- include('./partials/footer.ejs') %>

  <script src="/fontawesome/js/all.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.slim.min.js"></script>
  <!-- Elimina una de las siguientes líneas dependiendo de tus necesidades -->
  <!-- script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script -->
  <script>
    $(document).ready(function() {
      $('.btn-details').click(function(event) {
        event.preventDefault();
        var bebidaId = $(this).data('id'); // Obtener el _id de la bebida
        console.log('ID de la bebida:', bebidaId); // Imprimir el _id de la bebida en la consola
  
        // Realizar una solicitud para obtener los detalles de la bebida por su _id
        fetch('http://localhost:9100/api/v2/productos/getProductDetailByID/' + bebidaId)
          .then(response => response.json())
          .then(data => {
            console.log('Detalles de la bebida:', data); // Imprimir los detalles de la bebida en la consola
            // Mostrar los detalles de la bebida en el modal
            $('#bebidaModalTitle').text('Detalles de ' + data.nombre);
            $('#modal-img1').attr('src', '/images/bebidas/' + data.imagen1);
            $('#modal-img2').attr('src', '/images/bebidas/' + data.imagen2);
            $('#modal-img3').attr('src', '/images/bebidas/' + data.imagen3);
            $('.modal-bebida-title').text(data.nombre);
            $('.modal-bebida-description').text(data.descripcion);
            $('.modal-bebida-price').text('Precio: ' + data.precio_pvp + '€');
            // Abrir el modal
            $('#bebidaDetailsModal').modal('show');
          })
          .catch(error => {
            console.error('Error al obtener los detalles de la bebida:', error); // Manejo de errores
            alert('Error al obtener los detalles de la bebida');
          });
      });
    });
  </script>
  <script>
    $(document).ready(function() {
  $('.btn-add-to-cart').click(function(event) {
    event.preventDefault();
    var bebidaId = $(this).closest('.product').find('.btn-details').data('id');
    var bebidaName = $(this).closest('.product').find('.product-title').text();
    var bebidaPrice = $(this).closest('.product').find('.price .normal-price').text();
    var quantity = 1; // Puedes permitir que el usuario elija la cantidad si lo deseas

    // Utilizar fetch para realizar la solicitud
    fetch('/add-to-cart', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        id: bebidaId,
        name: bebidaName,
        price: bebidaPrice,
        quantity: quantity
      })
    })
    .then(response => {
      if (response.ok) {
        // Mostrar alerta de éxito con SweetAlert2
        Swal.fire({
          icon: 'success',
          title: '¡Producto agregado al carrito!',
          showConfirmButton: false,
          timer: 1500
        });
      } else {
        // Mostrar alerta de error con SweetAlert2
        throw new Error('Error al agregar producto al carrito');
      }
    })
    .catch(error => {
      console.error('Error al agregar producto al carrito:', error);
      // Mostrar alerta de error con SweetAlert2
      Swal.fire({
        icon: 'error',
        title: 'Error',
        text: 'Error al agregar producto al carrito',
      });
    });
  });
});
</script>
</body>
</html>
