<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Carrito - Ineffabile Pizza</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11">
  <link rel="stylesheet" href="/css/carrito.css">
  <link rel="stylesheet" href="/css/whatsupto.css">
</head>

<body class="bg-light">

  <!-- Incluir el navbar -->
  <%- include('./partials/navbar.ejs') %>

<!-- Contenido del carrito -->
<br>
<br>
<div class="container">
  <h2 class="text-center mb-4">Tu Carrito de Compras</h2>
  <% if (cart.length > 0) { %>
    <% let totalPrice = 0; %>
    <% cart.forEach(function(item) { %>
      <% totalPrice += parseFloat(item.price) * item.quantity; %>
      <div class="card mb-3">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <div class="producto-info">
              <h5 class="card-title"><%= item.name %></h5>
              <p class="card-text">Precio: <%= item.price %>/Ud</p>
            </div>
            <div class="producto-cantidad">
              <!-- Input de solo lectura para mostrar la cantidad -->
              <input type="text" class="form-control text-center cantidad-input" value="<%= item.quantity %>" readonly>
            </div>
            <div class="producto-eliminar">
              <!-- Botón para eliminar el producto del carrito -->
              <button class="btn btn-danger eliminar-producto" data-id="<%= item.id %>">
                <i class="fas fa-trash-alt"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    <% }); %>
    <!-- Mostrar el precio total -->
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Total: <%= totalPrice.toFixed(2) %>€</h5>
      </div>
    </div>
    <div class="center-button"> <!-- Div para centrar el botón -->
      <button type="button" class="btn btn-warning" onclick="window.location.href='/checkout'">Proceder con el pago</button>
    </div>
  <% } else { %>
    <div class="alert alert-warning" role="alert">
      No hay productos en tu carrito.
    </div>
  <% } %>
</div>

<a href="https://wa.me/+34637053805?text=Contactar%20con%20Ineffabile%20Pizza%20vía%20WhatsApp" class="whatsapp" target="_blank"> 
  <i class="fab fa-whatsapp whatsapp-icon"></i>
</a>
            
<!-- Botón para volver arriba -->
<button id="scrollToTopBtn" title="Volver arriba"><i class="fas fa-arrow-up"></i></button>
  

<!-- Incluir el footer -->
<%- include('./partials/footer.ejs') %>

<script src="/fontawesome/js/all.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    // Evento para eliminar un producto del carrito
    document.querySelectorAll('.eliminar-producto').forEach(button => {
      button.addEventListener('click', function() {
        const productId = this.dataset.id;

        // Realiza una solicitud fetch para eliminar el producto del carrito
        fetch('/eliminar-producto', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ id: productId })
        })
        .then(response => {
          if (!response.ok) {
            throw new Error('Error al eliminar el producto del carrito');
          }
          // Si la eliminación fue exitosa, muestra una alerta con SweetAlert2
          Swal.fire({
            icon: 'success',
            title: 'Producto eliminado',
            text: 'El producto ha sido eliminado del carrito',
            showConfirmButton: false,
            timer: 1500 // Cerrar la alerta después de 1.5 segundos
          });
          // Recarga la página para actualizar el carrito
          setTimeout(() => {
            window.location.reload();
          }, 1500);
        })
        .catch(error => {
          console.error('Error al eliminar producto del carrito:', error.message);
          // Muestra una alerta de error con SweetAlert2
          Swal.fire({
            icon: 'error',
            title: 'Error',
            text: 'Error al eliminar el producto del carrito',
            confirmButtonText: 'Cerrar'
          });
        });
      });
    });
  });
</script>
<script>
  window.onscroll = function() {scrollFunction()};
  
  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      document.getElementById("scrollToTopBtn").style.display = "block";
    } else {
      document.getElementById("scrollToTopBtn").style.display = "none";
    }
    var sections = document.querySelectorAll('.section');
      sections.forEach(function(section) {
        if (isSectionInViewport(section)) {
          section.classList.add('visible');
        }
      });
    }

    document.getElementById("scrollToTopBtn").addEventListener("click", function() {
      scrollToTop()
    })

    function scrollToTop() {
      const body = document.getElementsByTagName("body")[0];
      body.scrollIntoView({ behavior: "smooth" });
    }
  </script>
</body>
</html>
