<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pago Seguro - Ineffabile Pizza</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/checkout.css">
  <link rel="stylesheet" href="/fontawesome/css/all.min.css">
</head>
<body class="bg-light">
   <!-- Incluir el navbar -->
   <%- include('./partials/navbar.ejs') %>

  <!-- Contenido del formulario de pago -->
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-6 mx-auto">
        <div class="text-center mb-5">
          <h2 class="fw-bold">Pago Seguro</h2>
          <p class="lead">Introduce los detalles de tu pedido y tarjeta para completar la compra</p>
        </div>
        <form id="payment-form">
          <!-- Campos de localidad -->
          <div class="mb-3">
            <label for="provincia" class="form-label">Provincia</label>
            <input type="text" class="form-control" id="provincia" name="provincia" value="Alicante" readonly>
          </div>
          <div class="mb-3">
            <label for="municipio" class="form-label">Municipio</label>
            <select class="form-select" id="municipio" name="municipio">
              <option value="" disabled selected>Seleccione un municipio</option>
              <% municipios.forEach(function(municipio) { %>
                <option value="<%= municipio %>"><%= municipio %></option>
              <% }); %>
            </select>
          </div>

          <div class="mb-3">
            <label for="direccion" class="form-label">Dirección</label>
            <input type="text" class="form-control" id="direccion" name="direccion" placeholder="Calle, Número, Piso, etc.">
          </div>

          <div id="card-element">
            <!-- Elemento de UI de tarjeta -->
          </div>
        
          <!-- Se mostrarán errores aquí -->
          <div id="card-errors" role="alert"></div>
        
          <div class="mt-3">
            <p class="mb-1"><strong>Subtotal:</strong> <%= subtotal %> €</p>
            <p class="mb-1"><strong>IVA (10%):</strong> <%= iva %> €</p>
            <p class="mb-1"><strong>Gastos de envío:</strong> <%= shippingCost %> €</p>
            <p class="mb-1"><strong>Total:</strong> <%= totalPrice %> €</p>
          </div>
        
          <button id="pay-button" type="submit" class="btn btn-primary">Pagar <%= totalPrice %> € <i class="fa-solid fa-lock"></i></button>
          <button id="loading-button" class="btn btn-primary d-none btn-cooldown" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span class="visually-hidden">Loading...</span>
          </button>
        </form>
      </div>
    </div>
  </div>

  <!-- Incluir el footer -->
  <%- include('./partials/footer.ejs') %>

  <script src="https://js.stripe.com/v3/"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
    var stripe = Stripe('pk_test_51ONBDfL9CL45GjcPG6TFayw4YheZDGEWtQkBmKgFKpKgYfAXwwW4mPt3Ff5dxL95RVUHdt6vQ6tEe4g6SCvH7fYx00qSPysPu7');
    var elements = stripe.elements();

    // Personalizar el estilo de los elementos de Stripe
    var style = {
      base: {
        fontSize: '16px',
        color: '#32325d',
      }
    };

    // Crear un elemento de tarjeta y agregarlo al formulario
    var card = elements.create('card', { style: style });
    card.mount('#card-element');

    // Manejar errores en tiempo real del elemento de tarjeta
    card.addEventListener('change', function(event) {
      var displayError = document.getElementById('card-errors');
      if (event.error) {
        displayError.textContent = event.error.message;
      } else {
        displayError.textContent = '';
      }
    });

    // Manejar la presentación del formulario y la captura de la tarjeta
    var form = document.getElementById('payment-form');
    var payButton = document.getElementById('pay-button');
    var loadingButton = document.getElementById('loading-button');
    
    form.addEventListener('submit', function(event) {
      event.preventDefault();
      payButton.classList.add('d-none'); // Ocultar botón de pagar
      loadingButton.classList.remove('d-none'); // Mostrar botón de carga

      setTimeout(() => { // Simulación de proceso de carga y pago
        createOrder();
      }, 2000); // Retardo de 2 segundos antes de ejecutar createOrder()
    });

    function createOrder() {
      const pedidoData = {
          usuario_nombre: '<%= user.username %>', // Asumiendo que el objeto usuario tiene una propiedad username
          productos: <%- JSON.stringify(cart.map(item => ({ nombre: item.name, cantidad: item.quantity }))) %>,
          fecha: new Date(),
          total: '<%= totalPrice %>',
          estadoPedido_status: 'Pendiente'
      };

      fetch('/pedidos/saveOrder', {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json'
          },
          body: JSON.stringify(pedidoData)
      })
      .then(response => response.json())
      .then(data => {
          Swal.fire({
              title: '¡Pago realizado!',
              text: 'Transferencia completada. Puede ver sus pedidos presionando sobre el botón "Ver mis pedidos" en este mensaje o en su perfil.',
              icon: 'success',
              confirmButtonColor: '#3085d6',
              confirmButtonText: 'Ver mis pedidos'
          }).then((result) => {
              if (result.isConfirmed) {
                  window.location.href = '/pedidos/mis-pedidos';
              }
          });
          payButton.classList.remove('d-none'); // Volver a mostrar el botón de pago
          loadingButton.classList.add('d-none'); // Ocultar el botón de carga
      })
      .catch(error => {
          console.error('Error al crear el pedido:', error);
          Swal.fire({
              icon: 'error',
              title: 'Error',
              text: 'No se pudo procesar tu pago.',
          });
          payButton.classList.remove('d-none'); // Volver a mostrar el botón de pago
          loadingButton.classList.add('d-none'); // Ocultar el botón de carga
      });
    }
  </script>
</body>
</html>
