<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Complementos - Ineffabile Pizza</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="/css/complementos.css">
  <link rel="stylesheet" href="/css/whatsupto.css">
</head>

<body>

  <!-- Incluir el navbar -->
  <%- include('./partials/navbar.ejs') %>

  <!-- Contenido de la página -->
<div class="container fadeIn">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item"><a href="/productos">Categorias</a></li>
      <li class="breadcrumb-item active" aria-current="page">Complementos</li>
    </ol>
  </nav>
  <br>
  <br>
  <h1 class="text-center mb-4"><u>Nuestros Complementos</u></h1>
    <div class="container center-form">  
      <div class="row">
        <!-- Botones de opciones -->
        <div class="col-md text-center">
          <a href="/productos/pizzas" class="btn btn-primary btn-lg">Pizzas</a>
        </div>
        <div class="col-md text-center">
          <a href="/productos/pastas" class="btn btn-primary btn-lg">Pastas</a>
        </div>
        <div class="col-md text-center">
          <a href="/productos/bebidas" class="btn btn-primary btn-lg">Bebidas</a>
        </div>
      </div>
    </div>
    <br>
    <br>
  <div class="row">
    <div class="row">
      <% complementos.forEach(function(complemento, index) { %>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="product">
          <img src="/images/complementos/<%= complemento.imagen1 %>" alt="<%= complemento.nombre %>">
          <div class="product-title"><%= complemento.nombre %></div>
          <div class="price">
            <span class="normal-price"><%= complemento.precio_pvp %>€</span>
          </div>
          <div class="btn-container">
            <button class="btn btn-details" data-bs-toggle="modal" data-bs-target="#exampleModal" data-id="<%= complemento._id %>"><i class="far fa-eye"></i></button>
            <button class="btn btn-add-to-cart"><i class="fas fa-shopping-cart"></i></button>
          </div>
        </div>
      </div>
      <% }); %>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Detalles del Complemento</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="" class="d-block w-100 img-carousel" alt="" id="modal-img1">
            </div>
            <div class="carousel-item">
              <img src="" class="d-block w-100 img-carousel" alt="" id="modal-img2">
            </div>
            <div class="carousel-item">
              <img src="" class="d-block w-100 img-carousel" alt="" id="modal-img3">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <h4 class="modal-complemento-title mt-3" id="modalTitle"></h4>
        <p class="modal-complemento-description"></p>
        <p class="modal-complemento-price"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary ms-auto" data-bs-toggle="popover" title="Información acerca de alérgenos" data-bs-content="Este alimento puede contener trazas de otros. Para más información, visite nuestra página de alérgenos (<a href='/alergenos'>página de alérgenos</a>)." data-bs-html="true">Ayuda</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<a href="https://wa.me/+34637053805?text=Contactar%20con%20Ineffabile%20Pizza%20vía%20WhatsApp" class="whatsapp" target="_blank"> 
  <i class="fab fa-whatsapp whatsapp-icon"></i>
</a>
            
<!-- Botón para volver arriba -->
<button id="scrollToTopBtn" title="Volver arriba"><i class="fas fa-arrow-up"></i></button>

<!-- Incluir el footer -->
<%- include('./partials/footer.ejs') %>

<script src="/fontawesome/js/all.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
$(document).ready(function() {
  $('.btn-details').click(function(event) {
    event.preventDefault();
    var complementoId = $(this).data('id');
    fetch('http://localhost:9100/api/v2/productos/getProductDetailByID/' + complementoId)
      .then(response => response.json())
      .then(data => {
        $('.modal-title').text('Detalles de ' + data.nombre);
        $('#modal-img1').attr('src', '/images/complementos/' + data.imagen1);
        $('#modal-img2').attr('src', '/images/complementos/' + data.imagen2);
        $('#modal-img3').attr('src', '/images/complementos/' + data.imagen3);
        $('.modal-complemento-title').text(data.nombre);
        $('.modal-complemento-description').text(data.descripcion);
        $('.modal-complemento-price').html(`<span class="badge bg-success">${data.precio_pvp}€</span>`);
        $('#exampleModal').modal('show');
      })
      .catch(error => {
        console.error('Error al obtener los detalles del complemento:', error);
        alert('Error al obtener los detalles del complemento');
      });
  });

  const Toast = Swal.mixin({
    toast: true,
    position: 'top-end',
    showConfirmButton: false,
    timer: 1800,
    timerProgressBar: true,
    didOpen: (toast) => {
      toast.addEventListener('mouseenter', Swal.stopTimer)
      toast.addEventListener('mouseleave', Swal.resumeTimer)
    }
  });

  $('.btn-add-to-cart').click(function(event) {
    event.preventDefault();
    var complementoId = $(this).closest('.product').find('.btn-details').data('id');
    var complementoName = $(this).closest('.product').find('.product-title').text();
    var complementoPrice = parseFloat($(this).closest('.product').find('.price .normal-price').text().replace('€', ''));

    Swal.fire({
      title: '¿Cuántas unidades quieres agregar?',
      input: 'number',
      inputAttributes: {
        min: 1,
        step: 1
      },
      inputValue: 1,
      showCancelButton: true,
      confirmButtonText: 'Agregar',
      cancelButtonText: 'Cancelar'
    }).then((result) => {
      if (result.isConfirmed) {
        var quantity = parseInt(result.value);
        fetch('/add-to-cart', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            id: complementoId,
            name: complementoName,
            price: complementoPrice,
            quantity: quantity
          })
        })
        .then(response => {
          if (response.ok) {
            updateCartItemCount();
            Toast.fire({
              icon: 'success',
              title: '¡Producto/s agregado/s al carrito!'
            });
          } else {
            throw new Error('Error al agregar producto al carrito');
          }
        })
        .catch(error => {
          console.error('Error al agregar producto al carrito:', error);
          Toast.fire({
            icon: 'error',
            title: 'Error al agregar producto al carrito'
          });
        });
      }
    });
  });
});
</script>
<script>
  $(document).ready(function() {
    // Inicializar los popovers
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'));
    var popoverList = popoverTriggerList.map(function(popoverTriggerEl) {
      return new bootstrap.Popover(popoverTriggerEl);
    });
  });
</script>
<script>
window.onscroll = function() {scrollFunction()};
  
function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    document.getElementById("scrollToTopBtn").style.display = "block";
  } else {
    document.getElementById("scrollToTopBtn").style.display = "none";
  }
  var sections = document.querySelectorAll('.section');
  sections.forEach(function(section) {
    if (isSectionInViewport(section)) {
      section.classList.add('visible');
    }
  });
}

document.getElementById("scrollToTopBtn").addEventListener("click", function() {
  scrollToTop()
})

function scrollToTop() {
  const body = document.getElementsByTagName("body")[0];
  body.scrollIntoView({ behavior: "smooth" });
}
</script>
</body>
</html>
