<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pastas - Ineffabile Pizza</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="/css/pastas.css">
  <link rel="stylesheet" href="/css/whatsupto.css">
</head>

<body>

  <!-- Incluir el navbar -->
  <%- include('./partials/navbar.ejs') %>

  <!-- Contenido de la página -->
<div class="container fadeIn">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item"><a href="/productos">Categorias</a></li>
      <li class="breadcrumb-item active" aria-current="page">Pastas</li>
    </ol>
  </nav>
  <br>
  <br>
  <h1 class="text-center mb-4"><u>Nuestras Pastas</u></h2>
    <br>
    <br>
  <div class="row">
    <div class="row">
      <% pastas.forEach(function(pasta, index) { %>
      <div class="col-md-3">
        <div class="product">
          <img src="/images/pastas/<%= pasta.imagen1 %>" alt="<%= pasta.nombre %>">
          <div class="product-title"><%= pasta.nombre %></div>
          <div class="price">
            <span class="normal-price"><%= pasta.precio_pvp %>€</span>
          </div>
          <div class="btn-container">
            <a href="#" class="btn btn-details" data-toggle="modal" data-target="#pastaDetailsModal" data-id="<%= pasta._id %>"><i class="far fa-eye"></i></a>
            <a href="#" class="btn btn-add-to-cart"><i class="fas fa-shopping-cart"></i></a>
          </div>
        </div>
      </div>
      <% }); %>
    </div>
  </div>
</div>

<!-- Nuevo Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Detalles de la Pasta</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="" class="d-block w-100" alt="" id="modal-img1">
            </div>
            <div class="carousel-item">
              <img src="" class="d-block w-100" alt="" id="modal-img2">
            </div>
            <div class="carousel-item">
              <img src="" class="d-block w-100" alt="" id="modal-img3">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <h4 class="modal-pasta-title mt-3" id="modalTitle"></h4>
        <p class="modal-pasta-description"></p>
        <p class="modal-pasta-price"></p>
      </div>
      <div class="modal-footer">
        <!-- Botón de ayuda con popover -->
        <button type="button" class="btn btn-secondary ms-auto" data-bs-toggle="popover" title="Información acerca de alérgenos" data-bs-content="Este alimento puede contener trazas de otros. Para más información, visite nuestra página de alérgenos (<a href='/alergenos'>página de alérgenos</a>)." data-bs-html="true">Ayuda</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<a href="https://wa.me/+34637053805?text=Contactar%20con%20Ineffabile%20Pizza%20vía%20WhatsApp" class="whatsapp" target="_blank"> 
  <i class="fab fa-whatsapp whatsapp-icon"></i>
</a>
            
<!-- Botón para volver arriba -->
<button id="scrollToTopBtn" title="Volver arriba"><i class="fas fa-arrow-up"></i></button>
  

  <!-- Incluir el footer -->
  <%- include('./partials/footer.ejs') %>

  <script src="/fontawesome/js/all.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.slim.min.js"></script>
  <!-- Elimina una de las siguientes líneas dependiendo de tus necesidades -->
  <!-- script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script -->
  <script>
    $(document).ready(function() {
      $('.btn-details').click(function(event) {
        event.preventDefault();
        var pastaId = $(this).data('id'); // Obtener el _id de la pasta
        console.log('ID de la pasta:', pastaId); // Imprimir el _id de la pasta en la consola
  
        // Realizar una solicitud para obtener los detalles de la pasta por su _id
        fetch('http://localhost:9100/api/v2/productos/getProductDetailByID/' + pastaId)
          .then(response => response.json())
          .then(data => {
            console.log('Detalles de la pasta:', data); // Imprimir los detalles de la pasta en la consola
            // Mostrar los detalles de la pasta en el modal
            $('.modal-title').text('Detalles de ' + data.nombre);
            $('#modal-img1').attr('src', '/images/pastas/' + data.imagen1);
            $('#modal-img2').attr('src', '/images/pastas/' + data.imagen2);
            $('#modal-img3').attr('src', '/images/pastas/' + data.imagen3);
            $('.modal-pasta-title').text(data.nombre);
            $('.modal-pasta-description').text(data.descripcion);
            $('.modal-pasta-price').text('Precio: ' + data.precio_pvp + '€');
            // Abrir el modal
            $('#exampleModal').modal('show');
          })
          .catch(error => {
            console.error('Error al obtener los detalles de la pasta:', error); // Manejo de errores
            alert('Error al obtener los detalles de la pasta');
          });
      });
    });
  </script>
  <script>
    $(document).ready(function() {
  $('.btn-add-to-cart').click(function(event) {
    event.preventDefault();
    var pastaId = $(this).closest('.product').find('.btn-details').data('id');
    var pastaName = $(this).closest('.product').find('.product-title').text();
    var pastaPrice = $(this).closest('.product').find('.price .normal-price').text();
    var quantity = 1; // Puedes permitir que el usuario elija la cantidad si lo deseas

    // Utilizar fetch para realizar la solicitud
    fetch('/add-to-cart', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        id: pastaId,
        name: pastaName,
        price: pastaPrice,
        quantity: quantity
      })
    })
    .then(response => {
      if (response.ok) {
        updateCartItemCount();
        // Mostrar alerta de éxito con SweetAlert2
        Swal.fire({
          icon: 'success',
          title: '¡Producto agregado al carrito!',
          showConfirmButton: false,
          timer: 1500
        });
      } else {
        // Mostrar alerta de error con SweetAlert2
        throw new Error('Error al agregar producto al carrito');
      }
    })
    .catch(error => {
      console.error('Error al agregar producto al carrito:', error);
      // Mostrar alerta de error con SweetAlert2
      Swal.fire({
        icon: 'error',
        title: 'Error',
        text: 'Error al agregar producto al carrito',
      });
    });
  });
});
</script>
<script>
  $(document).ready(function() {
    // Inicializar los popovers
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'));
    var popoverList = popoverTriggerList.map(function(popoverTriggerEl) {
      return new bootstrap.Popover(popoverTriggerEl);
    });
  });
</script>
<script>
  window.onscroll = function() {scrollFunction()};
  
  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      document.getElementById("scrollToTopBtn").style.display = "block";
    } else {
      document.getElementById("scrollToTopBtn").style.display = "none";
    }
    var sections = document.querySelectorAll('.section');
      sections.forEach(function(section) {
        if (isSectionInViewport(section)) {
          section.classList.add('visible');
        }
      });
    }

    document.getElementById("scrollToTopBtn").addEventListener("click", function() {
      scrollToTop()
    })

    function scrollToTop() {
      const body = document.getElementsByTagName("body")[0];
      body.scrollIntoView({ behavior: "smooth" });
    }
  </script>
</body>
</html>
