<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Área Personal - Ineffabile Pizza</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="/css/personal-area.css">
  <link rel="stylesheet" href="/css/whatsupto.css">
</head>

<body class="bg-light">
  <!-- Incluir el navbar -->
  <%- include('./partials/navbar.ejs') %>

  <!-- Contenido del área personal -->
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card text-center">
          <br>
          <h2 class="welcome-title">¡Bienvenido, <%= userLogued.nombre %>!</h2>
          <img id="profilePicImg" src="<%= userLogued.imageUrl %>" class="card-img-top mt-4" alt="Foto de Perfil">
          <i class="fas fa-camera upload-icon" id="uploadIcon"></i>
          <div class="card-body">
            <h5 class="card-title"><%= userLogued.nombre %> <%= userLogued.apellido %></h5>
            <p class="card-text">Nombre de Usuario: <%= userLogued.username %></p>

            <% if (userLogued.rol === "ADMIN") { %>
              <a href="http://localhost:4200/Home" class="btn btn-primary">Mantenimiento <i class="fa-solid fa-user-secret"></i></a>
              <a href="/pedidos" class="btn btn-primary">Gestionar pedidos</a>
            <% } else if (userLogued.rol === "EMPLOYEE") { %>
              <a href="/pedidos" class="btn btn-primary">Gestionar pedidos</a>
            <% } else { %>
              <a href="/pedidos/mis-pedidos" class="btn btn-primary">Ver mis pedidos</a>
            <% } %>

            <form action="/api/v2/usuarios/logout" method="POST" style="display: inline;">
              <button type="submit" class="btn btn-primary"><i class="fa-solid fa-right-from-bracket"></i> Cerrar sesión</button>
            </form>

            <!-- Formulario para subir imagen de perfil -->
            <form id="uploadProfilePicForm" enctype="multipart/form-data" class="mt-3">
              <input type="file" class="form-control-file" id="profilePic" name="profilePic" accept="image/*" required>
              <label id="uploadLabel" for="profilePic">Seleccionar Imagen</label>
              <button id="uploadBtn" type="submit" class="btn btn-primary mt-2">Subir Imagen</button>
            </form>
          </div>
        </div>

        <% if (userLogued.rol === "USER") { %>
          <div class="card mt-4">
            <div class="card-body">
              <h5 class="card-title">¿Tienes alguna duda?</h5>
              <p class="card-text">¡Contáctanos si necesitas ayuda!</p>
              <a href="/contacto" class="btn btn-primary">Contactar</a>
            </div>
          </div>
        <% } %>
      </div>
    </div>
  </div>

  <a href="https://wa.me/+34637053805?text=Contactar%20con%20Ineffabile%20Pizza%20vía%20WhatsApp" class="whatsapp" target="_blank"> 
    <i class="fab fa-whatsapp whatsapp-icon"></i>
  </a>

  <!-- Incluir el footer -->
  <%- include('./partials/footer.ejs') %>

  <script src="/fontawesome/js/all.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.slim.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    // Script para manejar la subida de la imagen de perfil
    document.getElementById('uploadProfilePicForm').addEventListener('submit', async function(event) {
      event.preventDefault();
      
      const formData = new FormData(this);
      const response = await fetch('/api/v2/usuarios/upload-profile-pic', {
        method: 'POST',
        body: formData
      });

      if (response.ok) {
        const data = await response.json();
        document.getElementById('profilePicImg').src = data.imageUrl;
      } else {
        alert('Error al subir la imagen de perfil');
      }
    });

    document.getElementById('uploadIcon').addEventListener('click', function() {
      document.getElementById('profilePic').click();
    });

    document.getElementById('profilePic').addEventListener('change', function() {
      document.getElementById('uploadLabel').innerText = this.files[0].name;
      document.getElementById('uploadBtn').style.display = 'inline-block';
    });
  </script>
</body>
</html>
