<div class="col-md-8">
    <h2>Pedidos</h2>
    <% if (pedidos.length === 0) { %>
      <p>No hay pedidos disponibles.</p>
    <% } else { %>
      <% pedidos.forEach(function(pedido) { %>
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Pedido #<%= pedido.id %></h5>
            <ul>
              <% pedido.productos_nombre.forEach(function(producto, index) { %>
                <li><strong><%= producto %></strong> - Cantidad: <%= pedido.cantidad[index] %> - Precio Total: <%= pedido.precio_total[index] %> - Estado: <%= pedido.estadoPedido_status %></li>
              <% }); %>
            </ul>
          </div>
        </div>
      <% }); %>
    <% } %>
  </div>